html {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

html.home {
  background-image: url('../img/6.jpg');	
}

html.updates {
  background-image: url('../img/7.jpg');
}