body { 
  height: auto;
  width: 100%;
}

a {
	text-decoration: none;
	opacity: 1;
	transition: all .3s ease;
}

a:hover {
	cursor: pointer;
	opacity: .3;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #fff url("../img/balls2.gif") center center no-repeat;
}

.popup-instructions {
	position: fixed;
	width: 72%;
	height: 72%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
	background-color: white;
	z-index: 8888;	
	display: none;
}

.popup-instructions img {
	height: 16px;
	padding: 0 8px 0 0;
	width: auto;
}

.close-window {
	font-family: 'Roboto';
	font-size: 17px;
	font-weight: 300;
	color: #1e1e1e;
	position: fixed;
	top: 15px;
	right: 26px;
	opacity: 0.5;
	z-index: 9999;
}

.close-window a {
	color: #1e1e1e;
}

.dim {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
	background-color: #1e1e1e;
	opacity: 0.95;
	z-index: 999;
	display: none;
}

.game-play {
	font-family: 'Montserrat';
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	color: #2db0cf;
	position: absolute;
	top: 10%;
	left: 9%;
}

.download-instructions {
	font-family: 'Montserrat';
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: #1e1e1e;
	position: absolute;
	top: 10%;
	right: 9%;
	padding: 5px 0 0 0;
}

.download-instructions a {
	color: #1e1e1e;
}

.scroll-for-all {
	font-family: 'Montserrat';
	font-size: 9.5px;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #1e1e1e;
	opacity: 0.4;
	position: absolute;
	width: 100%;
	bottom: 5%;
	margin: 0;
	text-align: center;
}

.instructions-content {
	width: 82%;
	height: 68%;
	margin: 0;
	padding: 0;
	left: 9%;
	bottom: 12%;
	/* background: pink; */
	position: fixed;
	overflow: scroll;
	font-family: 'Roboto';
	text-align: justify;
	color: black;
}

.instructions-content p {
	padding: 8px 0 24px 0;
	margin: 0;
}

.instructions-col1 {
	width: 21.5%;
	margin: 0;
	padding: 0;
	float: left;
}

.instructions-col1 p {
	line-height: 22px;
	font-size: 12.5px;
	letter-spacing: 0.2px;
}

.instructions-col2 {
	width: 28%;
	margin: 0 0 0 4%;
	padding: 0;
	float: left;
}

.instructions-col2 p {
	line-height: 22px;
	font-size: 12.5px;
	letter-spacing: 0.2px;
}

.instructions-col3 {
	width: 44%;
	margin: 0 0 0 1.5%;
	padding: 0;
	float: right;
}

.instructions-col3 p {
	line-height: 22px;
	font-size: 12.5px;
	letter-spacing: 0.2px;
}

.instructions-full p {
	line-height: 24px;
	font-size: 14px;
}

.st-container {
	visibility: visible;
}

.mobile-container {
	visibility: hidden;
}

.title-logo {
	position: fixed;
	height: 46px;
	top: 8%;
	left: 80px;
	padding: 13px 0;
}

.stay-updated {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
	padding-bottom: 40px;
	/*
width: 50%;
	margin: 235px 25% 0 25%;
*/
}

.lets-play img {
	width: 76%;
	margin: 0 12%;
	height: auto;
}

.social {
	padding: 20px 0;
	text-align: center;
}

.social img {
	height: 22px;
	width: auto;
}

.social a + a {
	padding: 0 0 0 30px;
}

/*
.container-1 {
	width: 100%;
	height: 100%;
	z-index: 999;
}
*/

.question {
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 700;
	position: fixed;
	top: 8%;
	right: 55px;
	padding: 12px 0 0 0;
	z-index: 99;
	color: #005AAA;
}

.question a {
	color: #005AAA;
}

.black-question {
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 700;
	position: fixed;
	top: 8%;
	right: 55px;
	line-height: 56px;
	vertical-align: middle;
	/* padding: 12px 0 0 0; */
	z-index: 99;
	color: #1F1F1F;
}

.black-question a {
	color: #1F1F1F;
}


.category {
	font-family: 'Montserrat';
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #1F1F1F;
	text-align: center;
	position: fixed;
	top: 8%;
	left: 30%;
	width: 40%;
	line-height: 56px;
	vertical-align: middle;
	/* padding: 12px 0 0 0; */
	z-index: 99;
}

.category p {
	margin: 0;
}

.certo-category {
	font-family: 'Montserrat';
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #005AAA;
	text-align: center;
	position: fixed;
	top: 8%;
	left: 30%;
	width: 40%;
	padding: 12px 0 0 0;
	z-index: 99;
}

.certo {
	font-family: 'Montserrat';
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #005AAA;
	text-align: center;
	position: fixed;
	top: 8%;
	left: 30%;
	width: 40%;
	line-height: 56px;
	vertical-align: middle;
	/* padding: 12px 0 0 0; */
	z-index: 99;
}


.prompt-cards {
	font-family: 'Roboto';
	line-height: 56px;
	font-weight: 300;
	font-size: 40px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
	padding: 30px 30px 70px 30px;
	z-index: 99;
}

.icons img {
	height: 36px;
	width: auto;
	z-index: 99;
}

.othericons img {
	height: 36px;
	width: auto;
	z-index: 99;
}

/*
.prompt-cards {
	position: relative;
	top: 8%;
	width: 40%;
	margin: 0 auto;
	padding: 70px 0 90px 0;
	text-align: center;
}
*/

.prompt {
	padding: 0 0 75px 0;
	color: white;
}

.certoaction {
	padding: 0 0 75px 0;
	color: #1e1e1e;
}

.action {
	padding: 0 0 75px 0;
	color: #1f1f1f; 
}

.struggles {
	width: 30%;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
	padding-bottom: 80px;
}

.coming-soon {
	width: 30%;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
	padding-bottom: 80px;
}

.coming-soon img {
	max-width: 300px;
	width: 100%;
	height: auto;
}

.struggles img {
	max-width: 300px;
	width: 100%;
	height: auto;
}

.certo-option {
	position: fixed;
	bottom: 8%;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0 0 0;
	text-align: center;
}

/*
.refresh-page {
	position: fixed;
	bottom: 8%;
	width: 40%;
	margin: 0 auto;
	padding: 30px 0 0 0;
	text-align: left;
	left: 50px;
}

.how-refresh {
	font-family: 'Montserrat';
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: #1e1e1e;
	padding: 50px 0 12px 0;
}
*/

.goto-certo {
	font-family: 'Montserrat';
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: white;
	padding: 50px 0 12px 0;
}

.goto-certo a {
	color: white;
}

.goto-prompts {
	font-family: 'Montserrat';
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: #005AAA;
	padding: 50px 0 12px 0;
}

.goto-prompts a {
	color: #005AAA;
}

.goto-prompt {
	font-family: 'Montserrat';
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: #005AAA;
	padding: 50px 0 12px 0;
}

.goto-prompt a {
	color: #005AAA;
}

.about-links {
	font-family: 'Roboto';
	font-size: 13px;
	letter-spacing: 0.2px;
	color: black;
	position: fixed;
	bottom: 45px;
	width: 84%;
	margin: 0 auto;
	/* background: pink; */
	text-align: left;
	padding: 0;
	right: 8%;
	z-index: 1;
	/*
-webkit-transform: translate(-50%,0); 
	-moz-transform: translate(-50%,0); 
	transform: translate(-50%,0);
*/
}

.about-links a {
	/* text-align: left; */
	text-decoration: none;
	color: black;
	margin-right: 2.5%;
	padding: 0 0 5px 0;
}

.about-links b {
	color: #005AAA;
}

.about-links a:hover {
	border-bottom: 3px #005AAA solid;
}

.about-links p {
	padding: 0;
	margin: 0;
}

.about-links a + a {
	/* padding-left: 2%; */
}

.social-links {
	position: fixed;
	bottom: 32px;
	width: 22px;;
	margin: 0 auto;
	/* background: pink; */
	text-align: center;
	padding: 0;
	right: 60px;
	z-index: 1;
	/*
-webkit-transform: translate(-50%,0); 
	-moz-transform: translate(-50%,0); 
	transform: translate(-50%,0);
*/
}

.social-links img {
	height: 20px;
	width: auto;
	margin: 10px 0 0 0;
}

/*
.about-links ul {
	display: inline;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.about-links li {
	display: inline;
	padding: 0 2%;
	margin: 0;
}
*/

footer b {
	color: #005AAA;
}

footer a {
	color: black;
}

.invisible {
	opacity: 0;
	color: transparent;
}

.categories-container {
	width: 84%;
	/* margin: 0 auto; */
	position: fixed;
	top: 50%;
	left: 8%;
	-webkit-transform: translate(0,-50%); 
	-moz-transform: translate(0,-50%); 
	transform: translate(0,-50%); 
	z-index: 1;
}

.cc-col1 {
	/* width: 500px */;
	left: 0;
	position: relative;
	padding: 0;
	z-index: 1;
	overflow: hidden;
	/* display: inline; */
}

.cc-col1 a {
	color: black;
	font-weight: 700;
}

.cc-col1 p {
	width: 55%;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 24px;
	color: black;
	padding: 0;
	margin: 0;
	text-align: justify;
}

.cc-col2 {
	z-index: 999;
}

.cc-col2 img {
	width: 40%;
	height: 100%;
	top: 0;
	right: 0;
	position: fixed;
	object-fit: cover;
}

/*
.cc-col2 {
	position: fixed;
	width: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	right: 0;
	top: 0;
	z-index: 999;
}
*/

.category-title {
	font-family: 'Montserrat';
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.2px; 
}

.category-title2 {
	font-family: 'Montserrat';
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.3px; 
	margin: 0;
	padding: 0;
	text-align: left;
}

.koru-blue {
	color: #005AAA;
	padding: 20px 0 5px 0;
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

.koru-yellow {
	color: #FFCD2F;
	padding: 20px 0 5px 0;
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

.koru-purple {
	color: #645FA9;
	padding: 20px 0 5px 0;
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

.koru-turquoise {
	color: #2FB4D2;
	padding: 20px 0 5px 0;
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

.koru-orange {
	color: #F89D3E;
	padding: 20px 0 5px 0;
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

.transparent {
	opacity: 0;
}