@import url("stylesheet-1040.css");

@import url("stylesheet-900.css") (max-width: 1040px);

@media screen and (max-width: 900px) {

body { 
  background: #FFCD2F;
  height: 100%;
  width: 100%;
}

a {
	text-decoration: none;
	cursor: hand;
}

.st-container {
	visibility: hidden;
}

.mobile-container {
	visibility: visible;
	margin: 0 0 -600px 0;
	/*
padding: 0;
	margin: 0;
*/
}

.mobile-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 46px;
	background: #1F1F1F;
	/*
-webkit-transition: all 0.5s;
	transition: all 0.5s;
*/
	display: inline;
}

.mobile-logo {
	position: fixed;
	top: 15px;
	left: 28px;
	display: inline;
	width: 30%;
}

.mobile-logo img {
	height: 16px;
	width: auto;
}

.mobile-links {
	width: 50%;
	display: inline;
	position: fixed;
	top: 15px;
	right: 26px;
	text-align: right;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Montserrat';
	font-size: 13px;
}

.mobile-links a {
	color: white;
}

.mobile-header ul {
	display: inline;
}

.mobile-header li {
	display: inline;
	padding: 0 0 0 20px;
	
}

.mobile-cc-col2 {
	z-index: 999;
	top: 46px;
}

.mobile-cc-col2 img {
	width: 100%;
	height: 575px;
	right: 0;
	object-fit: cover;
}

.mobile-stay-updated {
	position: absolute;
	width: 50%;
	margin: 235px 25% 0 25%;
}

/*
.mobile-lets-play {
	position: absolute;
	width: 50%;
	margin: 250px 25%;
}
*/

.mobile-lets-play img {
	width: 100%;
	height: auto;
}

.mobile-social {
	padding: 20px 0;
	text-align: center;
}

.mobile-social img {
	height: 20px;
	width: auto;
}

.mobile-social a + a {
	padding: 0 0 0 30px;
}

/*
.mobile-cc-col3 {
	z-index: 999;
	height: 600px;
}
*/

.mobile-cc-col3 img {
	width: 100%;
	height: 600px;
	right: 0;
	bottom: 0;
	object-fit: cover;
	margin: 0 0 -5px 0;
	padding: 0;
}

.mobile-content {
	width: 84%;
	margin: 25px auto 40px auto;
}

.mobile-content p {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 24px;
	color: black;
	padding: 0;
	margin: 0;
	text-align: justify;
}

.mobile-content p + p {
	padding: 20px 0 0 0;
}

.mobile-content2 {
	width: 84%;
	margin: 15px auto 30px auto;
}

.mobile-content2 p {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 24px;
	color: black;
	padding: 0;
	margin: 0;
	text-align: justify;
}

.mobile-struggles {
	position: absolute;
	width: 50%;
	margin: 250px 25%;
}

.mobile-struggles img {
	width: 100%;
	height: auto;
}

.blue-block {
	background: -webkit-linear-gradient(#005AAA 0%, #2FB4D2 100%);
	position: relative;
	margin: -5px 0 0 0;
	padding: 15px;
}

.koru-caption {
	font-family: 'Roboto';
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0.4px;
	text-align: center;
	color: white;
	font-weight: 400;
	margin: 100px auto;
	width: 80%;
	left: 10%;
}

iframe {
	padding: 10px 0 25px 0;
}


.title-logo {
	position: fixed;
	height: 46px;
	top: 8%;
	left: 80px;
	padding: 13px 0;
}

/*
.container-1 {
	width: 100%;
	height: 100%;
	z-index: 999;
}
*/

.question {
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 700;
	position: fixed;
	top: 8%;
	right: 55px;
	padding: 12px 0 0 0;
	z-index: 999;
	color: #005AAA;
}

.st-container .black-question {
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 700;
	position: fixed;
	top: 8%;
	right: 55px;
	padding: 12px 0 0 0;
	z-index: 999;
	color: #1F1F1F;
}

.mobile-container .black-question {
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 700;
	position: fixed;
	top: 10%;
	right: 39px;
	padding: 12px 0 0 0;
	z-index: 999;
	color: #1F1F1F;
}


.st-container .category {
	font-family: 'Montserrat';
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #1F1F1F;
	text-align: center;
	position: fixed;
	top: 8%;
	left: 30%;
	width: 40%;
	padding: 12px 0 0 0;
	z-index: 999;
}

.mobile-container .category {
	font-family: 'Montserrat';
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: #1F1F1F;
	text-align: center;
	position: fixed;
	top: 10%;
	left: 30%;
	width: 40%;
	padding: 3px 0 0 0;
	z-index: 999;
}

.certo {
	font-family: 'Montserrat';
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #005AAA;
	text-align: center;
	position: fixed;
	top: 8%;
	left: 30%;
	width: 40%;
	padding: 12px 0 0 0;
	z-index: 999;
}


.st-container .prompt-cards {
	font-family: 'Roboto';
	line-height: 56px;
	font-weight: 300;
	font-size: 40px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
	padding-bottom: 40px;
}

.mobile-container .prompt-cards {
	font-family: 'Roboto';
	line-height: 40px;
	font-weight: 300;
	font-size: 30px;
	width: 80%;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
	padding-top: 10px;
}

/*
.prompt-cards {
	position: relative;
	top: 8%;
	width: 40%;
	margin: 0 auto;
	padding: 70px 0 90px 0;
	text-align: center;
}
*/

.st-container .prompt {
	padding: 0 0 75px 0;
	color: white;
}

.mobile-container .prompt {
	padding: 0 0 30px 0;
	color: white;
}

.st-container .icons img {
	height: 20px;
	width: auto;
}

.mobile-container .icons img {
	height: 28px;
	width: auto;
}

.action {
	padding: 0 0 75px 0;
	color: #1f1f1f; 
}

.struggles {
	width: 30%;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
	padding-bottom: 80px;
}

.struggles img {
	max-width: 300px;
	width: 100%;
	height: auto;
}

.st-container .certo-option {
	position: fixed;
	bottom: 8%;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0 0 0;
	text-align: center;
}

.mobile-container .certo-option {
	position: fixed;
	bottom: 4%;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0 0 0;
	text-align: center;
}

.st-container .goto-certo {
	font-family: 'Montserrat';
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: white;
	padding: 50px 0 12px 0;
}

.mobile-container .goto-certo {
	font-family: 'Montserrat';
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: white;
	padding: 50px 0 12px 0;
}

.st-container .goto-certo a {
	color: white;
}

.goto-prompt {
	font-family: 'Montserrat';
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: #005AAA;
	padding: 50px 0 12px 0;
}

.goto-prompt a {
	color: #005AAA;
}

.about-links {
	font-family: 'Roboto';
	font-size: 13px;
	letter-spacing: 0.2px;
	color: black;
	position: fixed;
	bottom: 45px;
	width: 84%;
	margin: 0 auto;
	/* background: pink; */
	text-align: left;
	padding: 0;
	right: 8%;
	z-index: 1;
	/*
-webkit-transform: translate(-50%,0); 
	-moz-transform: translate(-50%,0); 
	transform: translate(-50%,0);
*/
}

.about-links a {
	/* text-align: left; */
	text-decoration: none;
	color: black;
	margin-right: 2.5%;
	padding: 0 0 5px 0;
}

.about-links b {
	color: #005AAA;
}

.about-links a:hover {
	border-bottom: 3px #005AAA solid;
}

.about-links p {
	padding: 0;
	margin: 0;
}

.about-links a + a {
	/* padding-left: 2%; */
}

/*
.about-links ul {
	display: inline;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.about-links li {
	display: inline;
	padding: 0 2%;
	margin: 0;
}
*/

footer b {
	color: #005AAA;
}

footer a {
	color: black;
}

.invisible {
	opacity: 0;
	color: transparent;
}

.categories-container {
	width: 84%;
	/* margin: 0 auto; */
	position: fixed;
	top: 50%;
	left: 8%;
	-webkit-transform: translate(0,-50%); 
	-moz-transform: translate(0,-50%); 
	transform: translate(0,-50%); 
	z-index: 1;
}

.cc-col1 {
	/* width: 500px */;
	left: 0;
	position: relative;
	padding: 0;
	z-index: 1;
	overflow: hidden;
	/* display: inline; */
}

.cc-col1 p {
	width: 55%;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 24px;
	color: black;
	padding: 0;
	margin: 0;
	text-align: justify;
}

.cc-col2 {
	z-index: 999;
}

.cc-col2 img {
	width: 40%;
	height: 100%;
	top: 0;
	right: 0;
	position: fixed;
	object-fit: cover;
}

/*
.cc-col2 {
	position: fixed;
	width: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	right: 0;
	top: 0;
	z-index: 999;
}
*/

.category-title {
	font-family: 'Montserrat';
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px; 
}

.koru-blue {
	color: #005AAA;
	padding: 20px 0 5px 0;
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

.koru-yellow {
	color: #FFCD2F;
	padding: 20px 0 5px 0;
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

.koru-purple {
	color: #645FA9;
	padding: 20px 0 5px 0;
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

.koru-turquoise {
	color: #2FB4D2;
	padding: 20px 0 5px 0;
	margin: 0;file:///Users/Lauren/Documents/koru/img/846023.jpg
	font-family: 'Roboto';
	font-size: 14px;
}

.koru-orange {
	color: #F89D3E;
	padding: 20px 0 5px 0;
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

}